venv/
*.pyc
__pycache__/
*.log
*.tgz
*.tar.gz
.DS_Store
# Ignore large binaries
*.dylib
plugins/elasticsearch-*/jdk.app/
plugins/debezium-connector-postgres-2.5.0.Final-plugin.tar.gz	plugins/elasticsearch-8.11.3-darwin-x86_64.tar.gz
